---
import menu from "@config/menu.json";

export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}

const { main }: { main: NavigationLink[] } = menu;
---

<nav class="fixed top-0 left-0 right-0 bg-slate-500 z-50">
    <div class="navbar bg-base-100">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h8m-8 6h16"></path></svg
                >
            </label>
            <ul
                tabindex="0"
                class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
            >
                {
                    main.map(menuItem => {
                        if (menuItem.hasChildren) {
                            return (
                                <li tabindex="0">
                                    <span class="text-white">
                                        {menuItem.name}
                                        <svg
                                            class="fill-current"
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="20"
                                            height="20"
                                            viewBox="0 0 24 24"
                                            ><path
                                                d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
                                            ></path></svg
                                        >
                                    </span>
                                    <ul class="p-2 bg-slate-200">
                                        {menuItem?.children?.map(
                                            childMenuItem => (
                                                <li>
                                                    <a
                                                        href={
                                                            childMenuItem.url
                                                        }
                                                    >
                                                        {childMenuItem.name}
                                                    </a>
                                                </li>
                                            )
                                        )}
                                    </ul>
                                </li>
                            );
                        } else {
                            return (
                                <li>
                                    <a class="text-white" href={menuItem.url}>
                                        {menuItem.name}
                                    </a>
                                </li>
                            );
                        }
                    })
                }
            </ul>
        </div>
        <div class="navbar-start">
            <a class="btn btn-ghost normal-case text-xl text-white mr-auto">Formax</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                {main.map(menuItem => {
                    if (menuItem.hasChildren) {
                        return (
                            <li tabindex="0">
                                <a  class="text-white">
                                    {menuItem.name}
                                    <svg
                                        class="fill-current"
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="20"
                                        height="20"
                                        viewBox="0 0 24 24"
                                        ><path
                                            d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
                                        ></path></svg
                                    >
                                </a>
                                <ul class="p-2 bg-slate-200">
                                    {menuItem?.children?.map(
                                        childMenuItem => (
                                            <li>
                                                <a

                                                    href={
                                                        childMenuItem.url
                                                    }
                                                >
                                                    {childMenuItem.name}
                                                </a>
                                            </li>
                                        )
                                    )}
                                </ul>
                            </li>
                        );
                    } else {
                        return (
                            <li>
                                <a href={menuItem.url}  class="text-white">{menuItem.name}</a>
                            </li>
                        );
                    }
                })}
            </ul>
        </div>
        
        <div class="navbar-end hidden lg:grid justify-items-end text-white">
            <div>Masz pytania? Zadzwoń: </div>
            <div><a href="tel:+48 123 456 789">+48 123 456 789</a></div>
        </div>
    </div>
</nav>
